<h2 id="subpageTitle">Register Players</h2>

<div id="message">{{message}}</div>

<form (ngSubmit)="registerContestants()">
  <div *ngFor="let player of players; index as i; trackBy:trackByFn">
    <input [id]="'contestant'+i" type="text" [placeholder]="'Contestant ' +i" [name]="'Contestant '+i"
      [(ngModel)]="players[i]" class="contestant-text-input">
  </div>

  <button type="submit" id="register-contestants-button">Register Contestants</button>
</form>

<button type='button' id="autofill-2-players-button" (click)="autofillTwoPlayers()">Autofill 2 Players</button>

<button type='button' id="autofill-4-players-button" (click)="autofillFourPlayers()">Autofill 4 Players</button>


<button type='button' (click)="autofillEightPlayers()">Autofill 8 Players</button>
